body {
  margin: 0;
  font-family: 'Inter' ,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #e7f6ff;
}

*{
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper{
  background: #fff;
  margin: 50px auto;
  max-width: 1080px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.drawer{
  position: absolute;
  width: 420px;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  right: 0;
  height: 100%;
  padding: 30px;
  h2{
    margin: 0;
  }
  .items{
    overflow: auto;
    margin-bottom: 40px;
  }
}

header{
  border-bottom: 1px solid #eaeaea;
  h3,p{
    margin: 0;
  }
}

.search-block{
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  input{
    border: 0;
    font-size: 13px;
    padding: 10px;
  }
}
.content{
  h1{
    margin: 0;
  }
}
.cartItem{
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  p{
    font-size: 16px;
    margin: 0;
  }
  b{
    font-size: 14px;
  }
  .removeBtn{
    opacity: .5;
    &:hover{
      opacity: 1;
    }
  }
}
.cartTotalBlock{
  ul{
    li{
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }
    div{
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -4px;
      margin: 0 10px;
    }
  }
  .greenButton{
    position: relative;
    &:hover{
      img{
      transform: translateX(5px);
      }
    }
    img{
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.greenButton{
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  &:hover{
    background: lighten(#9dd588, 5%);
  }
  &:active{
    background: darken(#9dd588, 5%);
  }
}